<div class="container">
    <div class="row sides-height">
        <div class="col">
            <button 
                class = "btn btn-secondary"
                [disabled] = "!enableAdd"
                (click) = "addBookmark()">
                Add BookMark
            </button>
        </div>
        <div class="col">
            <button 
                type="button" 
                class="btn btn-secondary  float-right" 
                data-toggle="button" 
                [attr.aria-pressed] = "!bookmarksVisible" 
                (click) = "showBookmarks()">
                Toggle Bookmarks
                <span class="badge badge-light">
                    {{bookmarksCount}}
                </span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col" *ngIf="bookmarksVisible">
            <h2>Bookmarks List</h2>
            <ul class="history">
                <li *ngFor="let bookmarkItem of bookmarksList"
                    [class.selected]="bookmarkItem === originalUrl"
                    (click)="onSelect(bookmarkItem)">
                    {{bookmarkItem}}
                </li>
            </ul>
        </div>
    </div>
</div>